/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Round', cursive;
}

body{
    background: rgb(227, 227, 227);
}